.popup__container {
  width: 37%;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .popup__container {
    width: 473px;
    position: absolute;
    top: 20%;
  }
}

@media screen and (max-width: 900px) {
  .popup__container {
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .popup__container {
    width: 80%;
  }
}