@import url(./__card/elements__card.css);
@import url(./__image/elements__image.css);
@import url(./__info/elements__info.css);
@import url(./__place/elements__place.css);
@import url(./__like/elements__like.css);

.elements {
  width: 67%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  column-gap: 2%;
  row-gap: 21px;
}

@media screen and (max-width: 837px) {
  .elements {
    width: 88%;
    grid-template-columns: repeat(1, 100%);
  }
}